---
- name: Create
  hosts: localhost
  connection: local
  gather_facts: false
  tasks:
    - name: Build a kind cluster (wait for control plane).
      ansible.builtin.command: >-
        kind create cluster
        --wait 300s
        --name molecule-test
        --kubeconfig {{ kubeconfig }}
      changed_when: true

    - name: "Install mongodb operator"
      ansible.builtin.import_role:
        name: "mongodb_operator"

    - name: "Install mongodb operator"
      ansible.builtin.import_role:
        name: "mongodb_instance"
      vars:
        mongodb_instance_admin_password: "password"
        mongodb_instance_members: 1
        mongodb_instance_namespace: "mongodb-instance"
