---
- name: Verify
  hosts: localhost
  connection: local
  gather_facts: true

  tasks:
    - name: "Pause for cleanup to complete."
      ansible.builtin.pause:
        seconds: 30

    - name: "Check if 'argocd' namespace exists."
      kubernetes.core.k8s_info:
        kind: Namespace
        name: "argocd"
      register: namespace_argocd
      failed_when: false
      changed_when: false

    - name: Assert that 'argocd' namespace does not exist
      ansible.builtin.assert:
        that: namespace_argocd['resources'] | length == 0
