---
# @var mongodb_instance_enabled
# @var mongodb_instance_enabled:type: boolean
# @var mongodb_instance_enabled:description: >
# Should MongoDb Instance helm chart be installed
mongodb_instance_enabled: true

# @var mongodb_instance_crd_helm_version
# @var mongodb_instance_crd_helm_version:type: dict
# @var mongodb_instance_crd_helm_version:description: >
# mongodb instance helm chart version
mongodb_instance_crd_helm_version: "0.2.3"

# @var mongodb_instance_name
# @var mongodb_instance_name:type: dict
# @var mongodb_instance_name:description: >
# mongodb instance name
mongodb_instance_name: "mongodb-database"

# @var mongodb_instance_namespace
# @var mongodb_instance_namespace:type: dict
# @var mongodb_instance_namespace:description: >
# K8s namespace to install deploy mongodb instance
mongodb_instance_namespace: "mongodb"

# @var mongodb_instance_version
# @var mongodb_instance_version:type: dict
# @var mongodb_instance_version:description: >
# mongodb version
mongodb_instance_version: "8.0.6"

# @var mongodb_instance_members
# @var mongodb_instance_members:type: dict
# @var mongodb_instance_members:description: >
# number of replicatset members
mongodb_instance_members: 3

# @var mongodb_default_instance
# @var mongodb_default_instance:type: dict
# @var mongodb_default_instance:description: >
# default values for helm chart deployement
mongodb_default_instance:
  name: "{{ mongodb_instance_name }}"
  namespace: "{{ mongodb_instance_namespace }}"
  version: "{{ mongodb_instance_version }}"
  feature_compatibility_version: "{{ (mongodb_instance_version | ansible.builtin.split('.'))[0] }}.{{ (mongodb_instance_version | ansible.builtin.split('.'))[1] }}"
  members: "{{ mongodb_instance_members }}"
  persistent: true
  create_service_account: false

  admin_password: "{{ mongodb_instance_admin_password }}"
  additional_connection_string_config: {}

  additional_mongod_config: {}
  container_additional_config: {}

  backup_enabled: false
  backup_cronjob_schedule: "*/20 * * * *"
  backup_cronjob_timezone: "Europe/Paris"
  backup_cronjob_command: []
  backup_cronjob_container_env: []
  backup_cronjob_container_secret_env: []
  backup_cronjob_image: {}
  backup_cronjob_image_pull_secret: {}
  backup_additional_config: {}

  metrics_enabled: false
  metrics_username: "prometheus"
  metrics_password: ""

# @var mongodb_instance_values_override
# @var mongodb_instance_values_override:type: dict
# @var mongodb_default_instance:description: >
# Overrides for default values
# @var mongodb_instance_values_override:example: >
#  mongodb_instance_values_override:
#    create_service_account: true
#    additional_connection_string_config:
#      authenticationMechanism: "scram-sha256"
#      authSource: "admin"
#    metrics_enabled: true
#    metrics_username: "monitoring"
#    metrics_password: "metricspassword"
mongodb_instance_values_override: {}
