apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: "{{ external_secrets_cluster_secret_store.name }}"
{% if external_secrets_cluster_secret_store.labels is defined %}
  labels: {{ external_secrets_cluster_secret_store.labels }}
{% endif %}
{% if external_secrets_cluster_secret_store.annotations is defined %}
  annotations: {{ external_secrets_cluster_secret_store.annotations }}
{% endif %}
spec:
{{ external_secrets_cluster_secret_store.spec | ansible.builtin.to_nice_yaml | indent(width=2, first=true) }}
