apiVersion: external-secrets.io/v1
kind: ClusterExternalSecret
metadata:
  name: "{{ external_secrets_cluster_external_secret.name }}"
{% if external_secrets_cluster_external_secret.labels is defined %}
  labels: {{ external_secrets_cluster_external_secret.labels }}
{% endif %}
{% if external_secrets_cluster_external_secret.annotations is defined %}
  annotations: {{ external_secrets_cluster_external_secret.annotations }}
{% endif %}
spec:
{{ external_secrets_cluster_external_secret.spec | ansible.builtin.to_nice_yaml | indent(width=2, first=true) }}
