apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: "{{ external_secrets_push_secret.name }}"
  namespace: "{{ external_secrets_push_secret.namespace | default(external_secrets_namespace) }}"
{% if external_secrets_push_secret.labels is defined %}
  labels: {{ external_secrets_push_secret.labels }}
{% endif %}
{% if external_secrets_push_secret.annotations is defined %}
  annotations: {{ external_secrets_push_secret.annotations }}
{% endif %}
spec:
{{ external_secrets_push_secret.spec | ansible.builtin.to_nice_yaml | indent(width=2, first=true) }}
