apiVersion: "v1"
kind: "Secret"
metadata:
  name: "{{ warpgate_deployment_name }}-setup-credentials"
  namespace: "{{ warpgate_namespace }}"
type: "Opaque"
stringData:
  admin-password: "{{ warpgate_admin_password }}"
