replicaCount: {{ external_secrets_replica_count }}

installCRDs: {{ external_secrets_install_crds }}

{% if external_secrets_resources %}
resources: {{ external_secrets_resources }}
{% endif %}

{% if external_secrets_service_account_annotations %}
serviceAccount:
  annotations: {{ external_secrets_service_account_annotations }}
{% endif %}

{% if external_secrets_webhook_resources %}
webhook:
  resources: {{ external_secrets_webhook_resources }}
{% endif %}

{% if external_secrets_cert_controller_resources %}
certController:
  resources: {{ external_secrets_cert_controller_resources }}
{% endif %}

{% if external_secrets_additional_config %}
{{ external_secrets_additional_config | ansible.builtin.to_nice_yaml | indent(0) }}
{% endif %}
