---
- name: Verify
  hosts: localhost
  connection: local
  gather_facts: true

  tasks:
    - name: "Pause for job to complete."
      ansible.builtin.pause:
        seconds: 30

    - name: "Get 'uptime_kuma' namespace info."
      kubernetes.core.k8s_info:
        kind: Namespace
        name: "uptime-kuma"
      register: uptime_kuma_namespace

    - name: Assert that 'uptime_kuma' namespace is active
      ansible.builtin.assert:
        that: uptime_kuma_namespace['resources'] == []

    - name: "Get 'uptime_kuma' statefull set info."
      kubernetes.core.k8s_info:
        kind: "StatefulSet"
        name: "uptime-kuma"
        namespace: "uptime-kuma"
      register: uptime_kuma_statefullset

    - name: "Assert that 'uptime_kuma' is deployed"
      ansible.builtin.assert:
        that: uptime_kuma_statefullset['resources'] == []
