apiVersion: "v1"
kind: "Secret"
metadata:
  name: "{{ gitlab_runner_deployment_name }}-credentials"
  namespace: "{{ gitlab_runner_namespace }}"
type: "Opaque"
stringData:
  runner-token: "{{ gitlab_runner_token }}"
