apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: "{{ argocd_application_set.name }}"
spec:
  goTemplate: true
  goTemplateOptions: {{ argocd_application_set.go_template_options | default(argocd_application_sets_default_go_template_options) | ansible.builtin.to_yaml }}
  generators:
    {{ argocd_application_set.generators | ansible.builtin.to_nice_yaml(indent=2) | indent(4) }}
  template:
    metadata:
      name: '{{ argocd_application_set.template.name }}'
    spec:
      project: '{{ argocd_application_set.template.project }}'
      sources:
        {{ argocd_application_set.template.sources | ansible.builtin.to_nice_yaml(indent=2) | indent(8) }}
      destination:
{% if argocd_application_set.template.destination.name is defined %}
        name: '{{ argocd_application_set.template.destination.name }}'
{% endif %}
{% if argocd_application_set.template.destination.namespace is defined %}
        namespace: '{{ argocd_application_set.template.destination.namespace }}'
{% endif %}
{% if argocd_application_set.template.additional_config is defined %}
      {{ argocd_application_set.template.additional_config | ansible.builtin.to_nice_yaml(indent=2) | indent(6) }}
{% endif %}
