apiVersion: v1
kind: Secret
metadata:
  name: "{{ argocd_repository.name }}-repository-secret"
  namespace: "{{ argocd_namespace }}"
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: "{{ argocd_repository.type }}"
  name: "{{ argocd_repository.name }}"
{% for key, value in argocd_repository.parameters.items() %}
  {{ key }}: {{ value }}
{% endfor %}
