elasticsearch:
  nameOverride: "{{ zammad_elasticsearch_name_override }}"
{% if zammad_elasticsearch_version is defined %}
  version: "{{ zammad_elasticsearch_version }}"
{% endif %}
  http:
    tls:
      selfSignedCertificate:
        disabled: {{ (not zammad_elasticsearch_tls_enabled) | lower }}
  volumeClaimDeletePolicy: "{{ zammad_elasticsearch_volume_claim_delete_policy }}"
{% if zammad_elasticsearch_node_sets | length > 0 %}
  nodeSets: {{ zammad_elasticsearch_node_sets | ansible.builtin.to_json }}
{% else %}
  nodeSets:
    - name: "default"
      count: {{ zammad_elasticsearch_node_count }}
      config: {{ {"node.store.allow_mmap": zammad_elasticsearch_node_store_allow_mmap} | ansible.builtin.combine(zammad_elasticsearch_node_config) | ansible.builtin.to_json }}
      volumeClaimTemplates:
        - metadata:
            name: "elasticsearch-data"
          spec:
            accessModes:
              - "ReadWriteOnce"
            resources:
              requests:
                storage: "{{ zammad_elasticsearch_storage_size }}"
{% if zammad_elasticsearch_storage_class is defined %}
            storageClassName: "{{ zammad_elasticsearch_storage_class }}"
{% endif %}
      podTemplate:
        spec:
          containers:
            - name: "elasticsearch"
              env:
                - name: "ES_JAVA_OPTS"
                  value: "{{ zammad_elasticsearch_java_opts }}"
              resources: {{ zammad_elasticsearch_resources | ansible.builtin.to_json }}
{% endif %}
