postgres:
  auth:
    username: "{{ zammad_postgresql_username }}"
    password: "{{ zammad_postgresql_password }}"
    database: "{{ zammad_postgresql_database }}"
  resources: {{ zammad_postgresql_resources }}
