redis:
  architecture: "{{ zammad_redis_architecture }}"
  auth:
    password: "{{ zammad_redis_password }}"
  master:
    resources: {{ zammad_redis_master_resources }}
    persistence:
      enabled: {{ zammad_redis_master_persistence_enabled }}
