redis:
  sentinel:
    enabled: {{ zammad_redis_sentinel_enabled | lower }}
  architecture: "{{ zammad_redis_architecture }}"
  auth:
    password: "{{ zammad_redis_password }}"
  resources: {{ zammad_redis_resources }}
