---
- name: Verify
  hosts: localhost
  connection: local
  gather_facts: true

  tasks:
    - name: "Pause for deployment to complete."
      ansible.builtin.pause:
        seconds: 60

    - name: "Get 'mailcrab' namespace info."
      kubernetes.core.k8s_info:
        kind: Namespace
        name: "mailcrab"
      register: namespace_mailcrab

    - name: Assert that 'mailcrab' namespace is active
      ansible.builtin.assert:
        that: namespace_mailcrab['resources'][0]['status']['phase'] == "Active"

    - name: "Get 'mailcrab' Deployment info."
      kubernetes.core.k8s_info:
        kind: "Deployment"
        name: "mailcrab"
        namespace: "mailcrab"
      register: mailcrab_deployment

    - name: "Assert that 'mailcrab' Deployment is deployed"
      ansible.builtin.assert:
        that: mailcrab_deployment['resources'] | length > 0

    - name: "Assert that 'mailcrab' Deployment has ready replicas"
      ansible.builtin.assert:
        that: mailcrab_deployment['resources'][0]['status']['readyReplicas'] | default(0) >= 1

    - name: "Get 'mailcrab' Service info."
      kubernetes.core.k8s_info:
        kind: "Service"
        name: "mailcrab"
        namespace: "mailcrab"
      register: mailcrab_service

    - name: "Assert that 'mailcrab' Service exists"
      ansible.builtin.assert:
        that: mailcrab_service['resources'] | length > 0
