---
name: Test roles

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - 'roles/**'
      - '.github/**'
      - devbox.json
      - devbox.lock
      - flake.nix
      - flake.lock
  pull_request:
    branches: [main]
    paths:
      - 'roles/**'
      - '.github/**'
      - devbox.json
      - devbox.lock
      - flake.nix
      - flake.lock

jobs:
  gatus:
    uses: ./.github/workflows/test-role.yaml
    with:
      role_name: "gatus"
  mailcrab:
    uses: ./.github/workflows/test-role.yaml
    with:
      role_name: "mailcrab"
  zammad:
    uses: ./.github/workflows/test-role.yaml
    with:
      role_name: "zammad"
