---
name: Test roles

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - 'roles/**'
      - '.github/**'
  pull_request:
    branches: [main]
    paths:
      - 'roles/**'
      - '.github/**'

jobs:
  external_dns:
    uses: ./.github/workflows/test-role.yaml
    with:
      role_name: "external_dns"
  gatus:
    uses: ./.github/workflows/test-role.yaml
    with:
      role_name: "gatus"
  mailcrab:
    uses: ./.github/workflows/test-role.yaml
    with:
      role_name: "mailcrab"
  zammad:
    uses: ./.github/workflows/test-role.yaml
    with:
      role_name: "zammad"
