---
- name: Verify
  hosts: localhost
  connection: local
  gather_facts: true

  tasks:
    - name: "Pause for cleanup to complete."
      ansible.builtin.pause:
        seconds: 30

    - name: "Check if 'external-dns' namespace exists."
      kubernetes.core.k8s_info:
        kind: Namespace
        name: "external-dns"
      register: namespace_external_dns
      failed_when: false
      changed_when: false

    - name: Assert that 'external-dns' namespace does not exist
      ansible.builtin.assert:
        that: namespace_external_dns['resources'] | length == 0
